<div id="container">
  <h1>{{title}}</h1>
  <div id="btndiv">
    <button (click)="getTasksFromService()" >Get All Tasks</button>
    <p></p>
    <div *ngFor="let task of tasks">
    	<p>{{task.title}} {{task.description}}
        <!-- <button (click)="info(task._id)">SHOW</button> -->
        <button (click)="onEdit(task)">Edit</button>
        <button (click)="onDelete(task)">Delete</button>
      </p>
    </div>
    <form (submit)="onSubmit()">
      <!-- use the json pipe to see how newTask changes in real time -->
      <!-- <p> {{ newTask | json }} </p> -->
      <input type="text" name="newTask.title" [(ngModel)]="newTask.title" />
      <input type="text" name="newTask.description" [(ngModel)]="newTask.description" />
      <input type="submit" value="Create Task" />
  </form>
    <div id="info">
        <div *ngIf="editTog">
            <h1>Edit a Task</h1>
            <form (submit)="onUpload()">
              <p><input class="fields" type="text" name="editTask.title" [(ngModel)]="editTask.title"></p>
              <p><input class="fields" type="text" name="editTask.description" [(ngModel)]="editTask.description"></p>
              <input  id="edit2" class="btn" type="submit" value="Update" />
            </form>
          </div>
        
    </div>
  </div>
</div>